[submodule "QtComposition"]
	path = QtComposition
	url = https://github.com/cmguo/QtComposition.git
	branch = master
[submodule "qtpromise"]
	path = qtpromise
	url = https://github.com/cmguo/qtpromise.git
	branch = master
[submodule "log4qt"]
	path = log4qt
	url = https://github.com/cmguo/log4qt.git
	branch = master
[submodule "QtJsonSerializer"]
	path = QtJsonSerializer
	url = https://github.com/cmguo/QtJsonSerializer.git
	branch = master
[submodule "QtEventBus"]
	path = QtEventBus
	url = https://github.com/cmguo/QtEventBus.git
	branch = master
[submodule "QtRestClient"]
	path = QtRestClient
	url = https://github.com/cmguo/QtRestClient.git
	branch = master
[submodule "QtTestbed"]
	path = QtTestbed
	url = https://github.com/cmguo/QtTestbed.git
	branch = master


[submodule "docCovert"]
    path = docCovert
    url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_doc_convert
    branch = release/1130
[submodule "thirdparty"]
	path = thirdparty
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_thirdparty
	branch = release/1130


[submodule "UiBase"]
	path = UiBase
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_uibase
    branch = release/1130
[submodule "TalWeb"]
    path = TalWeb
    url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_qtwidgets
    branch = release/1130
[submodule "InkCanvas"]
	path = InkCanvas
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_inkcanvas
	branch = release/1130
[submodule "EventsLog"]
    path = EventsLog
    url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_eventslog
    branch = release/1130
[submodule "Assistant"]
	path = Assistant
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_assistant
	branch = release/1130
[submodule "RobotPen"]
	path = RobotPen
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_robot_pen
	branch = release/1130
[submodule "ShowBoard"]
	path = ShowBoard
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_show_board
	branch = release/1130
[submodule "Geometry"]
	path = Geometry
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_geometry
	branch = release/1130
[submodule "TeachingLib"]
    path = TeachingLib
    url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_teaching
    branch = release/1130
[submodule "TeachingTools"]
	path = TeachingTools
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_teachingtools
	branch = release/1130
[submodule "InteractBase"]
	path = InteractBase
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_interact_base
	branch = release/1130
[submodule "InteractionLib"]
	path = InteractionLib
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_interaction_lib
	branch = release/1130
[submodule "Account"]
    path = Account
    url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_account
    branch = release/1130
[submodule "Main"]
	path = Main
	url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_main
	branch = release/1130
[submodule "Salt"]
    path = Salt
    url = ssh://gerrit.talcloud.com:29418/talcloud_khaos_customization
    branch = release/1130
[submodule "nsis"]
	path = nsis
	url = git@git.100tal.com:epg_xhb_solution/talcloud_khaos_exe_packager.git
	branch = release/1130


[submodule "XhtHtml"]
	path = XhtHtml
	url = git@git.100tal.com:epg_xhb_solution/epg_iclass_plugin_fe.git
    branch = release/1130

[submodule "Html"]
    path = Html
    url = git@git.100tal.com:zhihuijiaoyu_solution/seg-iclass-plugin-fe.git
    branch = feature/1.8.1

