[submodule "qtpromise"]
	path = qtpromise
	url = ../qtpromise.git
	branch = master
[submodule "log4qt"]
	path = log4qt
	url = ../log4qt.git
	branch = master
[submodule "QtJsonSerializer"]
	path = QtJsonSerializer
	url = ../QtJsonSerializer.git
	branch = master
[submodule "quazip"]
	path = quazip
	url = ../quazip.git
	branch = master
[submodule "qthttpserver"]
	path = qthttpserver
	url = ../qthttpserver.git
	branch = master

[submodule "QtComposition"]
	path = QtComposition
	url = ../QtComposition.git
	branch = master
[submodule "QtEventBus"]
	path = QtEventBus
	url = ../QtEventBus.git
	branch = master
[submodule "QtRestClient"]
	path = QtRestClient
	url = ../QtRestClient.git
	branch = master
[submodule "QtTestbed"]
	path = QtTestbed
	url = ../QtTestbed.git
	branch = master

[submodule "InkCanvas"]
	path = InkCanvas
	url = ../QtInkCanvas.git
	branch = develop/master
[submodule "ShowBoard"]
	path = ShowBoard
	url = ../ShowBoard.git
	branch = develop/master
[submodule "MultiMedia"]
	path = MultiMedia
	url = ../Multimedia.git
	branch = develop/master
[submodule "PageBox"]
	path = PageBox
	url = ../Pagebox.git
	branch = develop/master
[submodule "Geometry"]
	path = Geometry
	url = ../Geometry.git
	branch = develop/master
[submodule "TeachingTools"]
	path = TeachingTools
	url = ../Teachingtools.git
	branch = develop/master
[submodule "InteractBase"]
	path = InteractBase
	url = ../InteractBase.git
	branch = develop/master

[submodule "UiBase"]
	path = UiBase
	url = ../UiBase.git
	branch = master
[submodule "TalWeb"]
	path = TalWeb
	url = ../TalWeb.git
	branch = master
[submodule "EventsLog"]
	path = EventsLog
	url = ../EventsLog.git
	branch = master
[submodule "Assistant"]
	path = Assistant
	url = ../Assistant.git
	branch = master
[submodule "RobotPen"]
	path = RobotPen
	url = ../RobotPen.git
	branch = master

[submodule "TeachingLib"]
	path = TeachingLib
	url = ../TeachingLib.git
	branch = master
[submodule "InteractionLib"]
	path = InteractionLib
	url = ../InteractionLib.git
	branch = master
[submodule "Account"]
	path = Account
	url = ../Account.git
	branch = master

[submodule "XhtHtml"]
	path = XhtHtml
	url = ../XhtHtml.git
	branch = master
[submodule "Html"]
	path = Html
	url = ../Html.git
	branch = master

[submodule "docCovert"]
	path = docCovert
	url = ../docConvert.git
	branch = master
[submodule "Salt"]
	path = Salt
	url = ../Customization.git
	branch = master

[submodule "Main"]
	path = Main
	url = ../Main.git
	branch = master
[submodule "nsis"]
	path = nsis
	url = ../Packager.git
	branch = master
[submodule "QtApp"]
	path = QtApp
	url = ../QtApp.git
	branch = master
[submodule "resource"]
	path = resource
	url = ../QtApp-resources.git
	branch = master
[submodule "Hybridge"]
	path = Hybridge
	url = ../Hybridge.git
	branch = main
[submodule "HybridgeC"]
	path = HybridgeC
	url = ../HybridgeC.git
	branch = master
[submodule "HybridgeQt"]
	path = HybridgeQt
	url = ../HybridgeQt.git
	branch = master
[submodule "HybridgeJni"]
	path = HybridgeJni
	url = ../HybridgeJni.git
	branch = master
[submodule "HybridgeDart"]
	path = HybridgeDart
	url = ../HybridgeDart.git
	branch = master
