[submodule "QtComposition"]
	path = QtComposition
	url = https://github.com/cmguo/QtComposition.git
	branch = master
[submodule "qtpromise"]
	path = qtpromise
	url = https://github.com/cmguo/qtpromise.git
	branch = master
[submodule "log4qt"]
	path = log4qt
	url = https://github.com/cmguo/log4qt.git
	branch = master
[submodule "QtJsonSerializer"]
	path = QtJsonSerializer
	url = https://github.com/cmguo/QtJsonSerializer.git
	branch = master
[submodule "QtEventBus"]
	path = QtEventBus
	url = https://github.com/cmguo/QtEventBus.git
	branch = master
[submodule "QtRestClient"]
	path = QtRestClient
	url = https://github.com/cmguo/QtRestClient.git
	branch = master


[submodule "docCovert"]
    path = docCovert
    url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_doc_convert.git
    branch = develop
[submodule "thirdparty"]
	path = thirdparty
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_thirdparty.git
	branch = develop


[submodule "UiBase"]
	path = UiBase
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_uibase.git
    branch = develop/master
[submodule "TalWeb"]
    path = TalWeb
    url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_qtwidgets.git
    branch = develop/master
[submodule "InkCanvas"]
	path = InkCanvas
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_inkcanvas.git
	branch = develop/master
[submodule "EventsLog"]
    path = EventsLog
    url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_eventslog.git
    branch = develop/master
[submodule "Assistant"]
	path = Assistant
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_assistant.git
	branch = develop/master
[submodule "RobotPen"]
	path = RobotPen
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_robot_pen.git
	branch = develop/master
[submodule "Showboard"]
	path = Showboard
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_show_board.git
	branch = develop/master
[submodule "Geometry"]
	path = Geometry
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_geometry.git
	branch = develop/master
[submodule "TeachingLib"]
    path = TeachingLib
    url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_teaching.git
    branch = develop/master
[submodule "TeachingTools"]
	path = TeachingTools
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_teachingtools.git
	branch = develop/master
[submodule "InteractBase"]
	path = InteractBase
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_interact_base.git
	branch = develop/master
[submodule "InteractionLib"]
	path = InteractionLib
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_interaction_lib.git
	branch = develop/master
[submodule "Account"]
    path = Account
    url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_account.git
    branch = develop/master
[submodule "Main"]
	path = Main
	url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_main.git
	branch = develop/master
[submodule "Salt"]
    path = Salt
    url = git@git.100tal.com:zhihuijiaoyu_solution/talcloud_khaos_customization.git
    branch = develop/master



[submodule "XhtHtml"]
	path = XhtHtml
	url = git@git.100tal.com:epg_xhb_solution/epg_iclass_plugin_fe.git
    branch = feature/1.0

[submodule "Html"]
    path = Html
    url = git@git.100tal.com:zhihuijiaoyu_solution/seg-iclass-plugin-fe.git
    branch = feature/1.8
